---
title: Book Club
layout: page
description: The Whatevertown Book Club is where we read books.
hidden: true;
collections:
- title: Q1 2020
  books:
  - title: Dark Matter
    author: Blake Crouch
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1472119680l/27833670._SY475_.jpg
    genre: Sci-fi
    recommender: Jon
    link: https://www.goodreads.com/book/show/27833670-dark-matter
    jon: ★★★★★
    ryan:
    tim:
  - title: The Last Arrow
    author: Erwin McManus
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1495990668l/33508622.jpg
    genre:
    recommender: Ryan
    link: https://www.goodreads.com/book/show/33508622-the-last-arrow
    jon:
    ryan: ★★★★★
    tim:
  - title: The Curious Incident of the Dog in the Night-Time
    author: Mark Hadon
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1479863624l/1618._SY475_.jpg
    genre:
    recommender: Tim
    link: https://www.goodreads.com/book/show/1618.The_Curious_Incident_of_the_Dog_in_the_Night_Time
    jon:
    ryan:
    tim:
---

<p>The three hosts each picked one book that we're all going to read in Q1 2020. Feel free to read along.</p>

{% for collection in page.collections %}

  <h2>{{ collection.title }}</h2>
  {% if collection.books %}
    <ul class="book-list">
      {% for book in collection.books %}
        <li class="book-item">
          <img src="{{ book.cover }}" alt="cover of {{ book.title }}">
          <span class="meta">Recommended by {{ book.recommender }}</span>
          <h3> {{ book.title }}</h3>
          <span>{{ book.author }}</span><br>
          <span>Jon: {{ book.jon }}</span><br>
          <span>Ryan: {{ book.ryan }}</span><br>
          <span>Tim: {{ book.tim }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endfor %}
