---
title: Home
layout: default
hidden: true
---

<iframe class="embed-stitcher" scrolling="no" frameborder="0" style="overflow:hidden;" src="https://app.stitcher.com/splayer/f/165701?el=1&refid=stpr"></iframe>

<section class="episode-list">

  {% for post in site.posts limit:5 %}

  <article id="post-{{ post.id }}" class="pod-preview">

    <img src="{{ post.artwork }}" class="pod-preview__artwork" alt="Cover artwork{% if page.episode %} episode {{ page.episode }}.{% endif %}">

    <div class="pod-preview__info">
      <h4>{{ post.date | date: '%B %d, %Y' }} • {% comment %}{{ post.collection }}{% endcomment %} {% if post.season %}Season {{ post.season }}{% endif %}</h4>
      <h2 class="a-no-margin"><a href="{{post.url}}" class="area-link">{{ post.title }}</a></h2>
      <p class="description small a-no-margin ">{% if post.summary %}{{ post.summary }}{% elsif post.excerpt %}{{ post.excerpt }} {% endif %}</p>
    </div>

  </article>


  {% endfor %}

  <p><center><a href="/episodes/" class="btn btn--hero">All Episodes</a></center></p>

  <br><br>

</section>
