<meta property="og:url" content="{{ post.permalink }}">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content=" {{post.summary }}">
<meta property="og:locale" content="{{ site.lang }}">
<meta property="fb:pages" content="">
<meta property="og:site_name" content="Whatevertown the Podcast">
<meta property="og:website" content="{{ site.url }}">
<meta name="twitter:card" content="summary_large_image">

{% if type == 'post' %}
  <meta property="og:audio" content="{{ post.file }}">
  <meta property="og:audio:type" content="audio/mp3">
{% endif %}


{% if post.artwork %}
  <meta property="og:image" content="{{ post.artwork }}">
{% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.artwork }}">
{% endif %}

<meta name="twitter:site" content="@whatevertown">
