html {
  padding: 1rem;
  background-color: $subdued-grey;
  background-color: lighten($primary-color, 34%);
  background-image: url('/dist/img/stars.svg');

  @media (min-width: 110rem) {
    padding: 2rem;
  }

}

body {
  background-color: $background-color;
  // background-image: url('/dist/img/stars.svg');
  border: $border;
  margin: auto;
  position: relative;
  background: $white;
  color: $primary-color;
  max-width: 120rem;
  text-align: left;

  &:after {
    content: '×';
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: $primary-color;
  }

}

.wrapper {
  width: 90%;
  @include outer-container();

  &--wide {
    max-width: 65rem;
  }

}

article {
  margin-bottom: $line-height-2x;
}

.id-home {
  background: $primary-color;
}

.post {
  background: $white;
  // padding: $line-height;
  margin-top: $line-height-2x;
  border-radius: 0.5rem;

  // @media (min-width: 900px) {
  //   padding: $line-height-2x;
  // }

  &__footer {
    border-top: 1px solid $primary-color;
    padding-top: $line-height;
    margin-top: $line-height;
  }

}

.embed-soundcloud,
.embed-stitcher {
  margin-bottom: $line-height;
  background: $light-grey;
  width: 100%;
  height: 10rem;
  border: 0 none;
  display: block;
}

.embed-stitcher {
  height: 11.5rem;
}

.id-404 {
  background: $dark-black;
}
