#{$all-text-inputs} {
  border: 2px solid $light-grey;
  appearance: none;
  color: $dark-grey;
  margin-bottom: $line-height;
  margin-bottom: $line-height;
  padding: $line-height-half;
}

#{$all-text-inputs},
#{$all-buttons},
.btn,
.button {
  border-radius: 0.5 * $radius;
  font-family: $display;
  font-size: 0.875 * $base-font-size;
  border-radius: $line-height-half;
}

textarea {
  padding: 0.5 * $line-height;
  min-height: $line-height-2x;
}

#{$all-buttons},
.btn {
  background-color: $link-color;
  // font-family: 'rift', $sans;
  color: $white;
  margin-bottom: $line-height;
  border: 2px solid $link-color;
  cursor: pointer;
  padding: $line-height-half;
  display: inline-block;

  &:hover {
    background-color: tint($link-color, 10%);
    text-decoration: none;
  }
  &:active {
    background-color: shade($link-color, 5%);
    text-decoration: none;
  }

}

.btn--hero {
  position: relative;
  top: 0;
  display: inline-block;
  padding: $line-height-half $line-height;
  font-weight: bold;
  background-color: $white;
  text-align: center;
  color: $blue;
  border: 3px solid $blue;
  border-radius: $line-height-half;
  white-space: nowrap;
  -webkit-box-shadow: 0 $line-height-half 0 0 $blue;
  box-shadow: 0 $line-height-half 0 0 $blue;
  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;
  cursor: pointer;

  &:hover,
  &:active {
    -webkit-box-shadow: 0 0.7rem 0 0 $navy;
    box-shadow: 0 0.7rem 0 0 $navy;
    border-color: $navy;
    -webkit-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
    color: $white;
  }

}

.btn--white {
  color: $link-color !important;
  background-color: $white;
  text-decoration: none;

  &:hover {
    background-color: rgba($white, 0.8);
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-black;
    &:hover {
      background-color: lighten($dark-black, 15%)
    }
  }

}

.btn--inline {
  display: inline-block;
  margin-right: $line-height-half;
}

#mc_embed_signup_scroll {
  .email,
  .button {

  }
  .email {
    // border: 0 none;
    border-color: $blue;
  }
}

label {
  color: $grey;
}

input + label + input {
  margin-left: $line-height;
}

// label[for="mce-EMAIL"] {
//   visibility: hidden;
//   display: none;
// }

.input-full {
  width: 100%;
}

.input-half {
  width: 100%;

  @media (min-width: $sm) {
    width: 48.5%;
    float: left;
    &:first-of-type {
      margin-right: 2.5%;
    }
  }

}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

tr {
  border-bottom: 1px solid $light-grey;
  &:last-of-type {
    border-bottom: 0 none;
  }
}

td {
  border-collapse: collapse;
  padding: $line-height-half 0;
}

.area-link {
  @include area-link;
}

.show-logo {
  display: block;
  margin: auto;
  max-width: 85%;
  max-height: 12rem;
}
