@import 'header';
@import 'footer';

.banner {
  // background: $primary-color;
  padding: 14rem 0;
  color: $white;
  a {
    color: inherit;
  }
  margin-bottom: $line-height-2x;
  // background-image: url('/dist/img/stars.svg');
  display: flex;
  vertical-align: middle;
  text-align: center;
  flex-direction: column;

  &__logo {
    height: 2 * $line-height-2x;

    &--large {
      @media (max-width: 48rem) {
        display: none;
      }
    }

    &--small {
      @media (min-width: 48rem) {
        display: none;
      }
    }

  }
}

.pod-preview {
  background-color: $white;
  padding: $line-height;
  margin-bottom: $line-height;
  border-radius: 0.5rem;

  &__artwork {
    max-width: 20%;
    float: left;
  }

}

#mc_embed_signup_scroll {
  .email,
  .button {
    padding: 0.25 * $line-height;
    border-radius: 0.25rem;
  }
  .email {
    border: 0 none;
  }

  .button {
    background-color: $black;
  }
}

label[for="mce-EMAIL"] {
  visibility: hidden;
  display: none;

}
