@import 'header';
@import 'footer';

.banner {
  color: $white;
  background-color: $primary-color;
  padding-top: 2 * $line-height-2x;
  padding-bottom: $line-height-2x;

  @media (min-width: $sm) {
    padding-top: 4 * $line-height-2x;
    padding-bottom: 3 * $line-height-2x;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-black;
  }

  margin-bottom: $line-height-2x;
  background-image: url('/dist/img/stars.svg');
  display: flex;
  vertical-align: middle;
  text-align: center;
  flex-direction: column;

  a {
    color: inherit;
  }

  &__logo {
    height: 2 * $line-height-2x;

    &--large {
      @media (max-width: 48rem) {
        display: none;
      }
    }

    &--small {
      @media (min-width: 48rem) {
        display: none;
      }
    }

  }
}

.id-x {

  font-family: monospace;
  font-size: 1vh;

  .banner {
    height: 100%;
    height: 100vh;
    margin-bottom: 0;
    padding: 40vh 0;
  }

}

.pod-preview {
  background-color: $white;
  margin-bottom: $line-height;
  padding: $line-height-half;
  // border-radius: $radius;
  border: $border;
  clear: both;
  overflow: hidden;
  position: relative;
  z-index: 1;

  border: 2px solid $blue;
  border-radius: $line-height-half;

  &:hover {
    box-shadow: $box-shadow;
  }

  &__info {
    z-index: 1;
  }

  @media (min-width: 50rem) {
    padding: $line-height;
  }

  &__artwork {
    display: none;

    @media (min-width: 50rem) {
      display: block;
      max-width: 10%;
      float: left;
      display: inline-block;
      margin-right: $line-height;
    }
  }

  @media (min-width: 50rem) {
    &__info {
      float: left;
      display:inline-block;
      overflow: hidden;
      width: calc(90% - #{$line-height});
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-black;
  }

}

.player-banner {
  background-image: url('/dist/img/stars.svg');
  background-color: $light-grey;
  padding-top: $line-height-2x;
  padding-bottom: $line-height-2x;
  display: block;
  @media (min-width: $sm) {
    padding-top: 3 * $line-height;
    padding-bottom: 3 * $line-height;
  }
  @media (prefers-color-scheme: dark) {
    background-color: mix($dark-black, $navy, 75%);
  }
}

.comments {
  margin-top: $line-height-2x;
}
