.site-footer {
  // margin-top: $line-height;
  padding-top: 3 * $line-height;
  padding-bottom: 3 * $line-height;
  // background-color: $dark-black;
  border-top: $border;
}

.site-footer__credit {
  display: block;
  @media (min-width: 50rem) {
    clear: none;
    float: right;
    display: inline-block;
  }
}

.email-footer {
  border-top: $border;
  padding-top: $line-height-2x;
  padding-bottom: $line-height;
  text-align: center;
}
