.site-header {
  // border-bottom: 1px solid $light-grey;
  // margin-bottom: 2rem;
  padding-top: $line-height;
  padding-bottom: $line-height;
  border-bottom: $border;
  color: $primary-color;
  text-align: center;
  display: flex;

  vertical-align: middle;

  a {
    color: inherit;
  }

  @media (min-width: 37.5rem) {
    text-align: left;
  }

  // &--home {
  //   display: none;
  //   visibility: hidden;
  // }

  &__icon {
    height: $line-height;
    @media (max-width: 599px) {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.site-name {
  float: left;
}

.site-nav {
  list-style: none;
  margin-top: $line-height;

  @media (min-width: 600px) {
    float: right;
    margin-top: 0;
  }
}

.menu-item {
  // @media (min-width: 600px) {
    float: left;
    margin-left: $line-height;
  // }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


.marquee {
  padding: 0.5 * $line-height;
  color: $primary-color;
  font-size: 0.75 * $base-font-size;
  white-space: nowrap;
  display: block;
  font-family: $display;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 1.75 * $line-height;
  will-change: scroll-position;

  &__content {
    display: block;
    width: 200%;
    position: absolute;
    overflow: hidden;
    animation: marquee 18s linear infinite;
  }

  span {
    margin-right: $line-height;
    &:before {
      content: '';
      overflow: hidden;
      background-color: $secondary-color;
      height: 0.25rem;
      width: 0.25rem;
      position: relative;
      top: -0.25rem;
      margin-right: $line-height-half;
      margin-left: $line-height;
      display: inline-block;
    }
    &:last-of-type:after {
      content: '';
      width: $base-font-size;
      height: $base-font-size;
      background: url('/dist/img/whatevertown-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  @media (prefers-color-scheme: dark) {
    border-bottom: $border;
  }

}
