.site-header {
  // border-bottom: 1px solid $light-grey;
  // margin-bottom: 2rem;
  padding-top: $line-height;
  padding-bottom: $line-height;
  border-bottom: $border;
  color: $primary-color;

  vertical-align: middle;

  a {
    color: inherit;
  }

  // &--home {
  //   display: none;
  //   visibility: hidden;
  // }

  &__icon {
    height: $line-height;
    @media (max-width: 599px) {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.site-name {
  float: left;
}

.site-nav {
  list-style: none;
  margin-top: $line-height;
  @media (min-width: 600px) {
    float: right;
    margin-top: 0;
  }
}

.menu-item {
  @media (min-width: 600px) {
    float: left;
    margin-left: $line-height;
  }
}

.marquee {
  // background: $black;
  // color: $primary-color;
  padding: 0.5 * $line-height;
  // font-family: $monospace;
  // font-family: 'Rift Soft', $sans;
  color: $primary-color;
  // text-transform: uppercase;
  font-size: 0.75 * $base-font-size;
  // overflow-x: hidden;
  white-space: nowrap;

  span {
    margin-right: $line-height;
    &:after {
      content: '—';
      margin-left: $line-height;
      display: inline-block;
    }
    &:last-of-type:after {
      content: '';
      width: $base-font-size;
      height: $base-font-size;
      background: url('/dist/img/whatevertown-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

}
