<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="id-{{page.id}}">

    {% include header.html %}

    {% if page.title == 'Home' %}

      <!-- <marquee class="marquee">
        <span>The Biz</span> •
        <span>All my neighbours are over for orange juice.</span>
      </marquee> -->

      <div class="banner">
        <div class="wrapper wrapper--wide">
          <img src="/dist/img/whatevertown-wordmark--white.svg" alt="Whatevertown" class="banner__logo banner__logo--large">
          <img src="/dist/img/whatevertown-icon--white.svg" alt="Whatevertown" class="banner__logo banner__logo--small">
          <br><br>
          <div class="wrapper">
            <p class="site-tagline">It's a show about <del>pop culture, board games, music, the internet, and</del> whatever.</p>
            <p>
              <a href="{{ site.itunes }}">iTunes</a>
              –
              <a href="{{ site.stitcher }}">Stitcher</a>
              –
              <a href="{{ site.googleplay }}">Google Play</a>
            </p>
            <p>
              <a href="https://twitter.com/whatevertown">Twitter</a>
              –
              <a href="https://instagram.com/whatevertown">Instagram</a>
              –
              <a href="https://soundcloud.com/whatevertown">Soundcloud</a>
            </p>
          </div>
        </div>
    </div>

    {% endif %}

    <div class="wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111127049-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111127049-1');
  </script>

</html>
