<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="id-{{page.id}}">

    {% include header.html %}

    {% if page.title == 'Home' %}

      {% for item in page.marquee %}
        {{ item }}
      {% endfor %}

      <marquee class="marquee">
        <span>“We just love the universe”</span>
        <span>“The Whatareyaevertown stamp”</span>
        <span>“Thanks Your Mom”</span>
        <span>“This bit is going super well for you”</span>
        <span>“I think I'm almost too impartial”</span>
        <span>“I realized to myself—can you do that?”</span>
        <span>“Now who's the Jon?”</span>
        <span>“My soul is sharing more than I told it to”</span>
        <span>“Aw beans! This is a bad deal!”</span>
        <span>“I didn't think about being a cool best friend ghost”</span>
        <span>“If there is a Whatevercrown, I will need that”</span>
        <span>“It's bound to get spooky”</span>
        <span>“If anything I'm the monster”</span>
        <span>“I don't even do mental math”</span>
        <span>“Altona Residents Say Something Went 'Boom' in the Night”</span>
        <span>“Space is something to think about.”</span>
        <span>“Canada is filled with fridge-holes.”</span>
        <span>“As far as I know, Vero's like, I don't know.”</span>
        <span>“It's impossible to know what happens in space.”</span>
        <span>"Aribra Zarita!"</span>
        <span>“You love Legos? You don’t even know LEGO”</span>
        <span>“All my neighbours are over for orange juice.”</span>
      </marquee>

      <div class="banner">
        <div class="wrapper wrapper--wide">
          <img src="/dist/img/whatevertown-wordmark--white.svg" alt="Whatevertown" class="banner__logo banner__logo--large">
          <img src="/dist/img/whatevertown-icon--white.svg" alt="Whatevertown" class="banner__logo banner__logo--small">
          <br><br>
          <div class="wrapper">
            <p class="site-tagline">It's a show about <del>pop culture, board games, music, the internet, and</del> whatever.</p>

            <p>
              <a href="{{ site.itunes }}" itemprop="sameAs">iTunes</a>
              –
              <a href="{{ site.stitcher }}" itemprop="sameAs">Stitcher</a>
              –
              <a href="{{ site.googleplay }}" itemprop="sameAs">Google Play</a>
            </p>
            <p>
              <a href="https://twitter.com/whatevertown" itemprop="sameAs">Twitter</a>
              –
              <a href="https://patreon.com/whatevertown" itemprop="sameAs">Patreon</a>
              –
              <a href="https://instagram.com/whatevertown" itemprop="sameAs">Instagram</a>
              –
              <a href="https://soundcloud.com/whatevertown" itemprop="sameAs">Soundcloud</a>
            </p>
          </div>
        </div>
    </div>

    {% endif %}

    <div class="wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
