---
layout: default
---

{% if page.stitcher %}
	</div>
	<banner class="player-banner">
		<div class="wrapper">
			<iframe class="embed-stitcher" src="https://app.stitcher.com/splayer/f/165701/{{ page.stitcher }}" width="220" height="150" frameborder="0" scrolling="no"></iframe>
		</div>
	</banner>
	<div class="wrapper">
{% elsif page.soundcloud %}
	</div>
	<banner class="player-banner">
		<div class="wrapper">
			<iframe class="embed-soundcloud" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{page.soundcloud}}&amp;color=%234a74ff&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
		</div>
	</banner>
	<div class="wrapper">
{% endif %}

<article class="post">

	<h1 class="entry-title">{{ page.title }}</h1>
  <p class="description">{{ page.date | date: "%d %B %Y"}}</p>

	<div class="entry-content">

		{% if page.excerpt %}
			<p class="excerpt"> {{ page.excerpt }}</p>
		{% elsif page.summary %}
			<p class="excerpt"> {{ page.excerpt }}</p>
		{% endif %}

		{{ content }}

	</div>

	<div class="post__footer">
		{% if page.itunes %}
			<a href="{{ page.itunes }}" class="btn btn--inline">Listen on Apple Podcasts</a>
		{% elsif site.itunes %}
			<a href="{{ site.itunes }}" class="btn btn--inline">Listen on Apple Podcasts</a>
		{% endif %}

		{% if page.stitcher %}
			<a href="https://www.stitcher.com/s?eid={{ page.stitcher }}" class="btn btn--inline">Listen on Stitcher</a>
		{% elsif site.stitcher %}
			<a href="{{ site.stitcher }}" class="btn btn--inline">Listen on Stitcher</a>
		{% endif %}

		<a href="{{ site.spotify }}" class="btn btn--inline">Listen on Spotify</a>

		{% if page.googleplay %}
			<a href="{{ page.googleplay }}" class="btn btn--inline">Listen on Google Play</a>
		{% elsif site.googleplay %}
			<a href="{{ site.googleplay }}" class="btn btn--inline">Listen on Google Play</a>
		{% endif %}

		<!-- <a href="https://www.breaker.audio/whatevertown" class="btn btn--inline"> Listen on Breaker</a> -->

		<!-- <a href="https://www.himalaya.com/Comedy-podcasts/Whatevertown-309859" class="btn btn--inline">Listen on Himalaya</a> -->
	</div>

	{% if page.comments %}

		<div id="disqus_thread" class="comments"></div>
		<script>

			var disqus_config = function () {
				this.page.url = '{{site.url}}{{page.url}}';
				this.page.identifier = '{{ page.id | replace:'/','-' | strip_html }}';
			};

			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://whatevertown.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	{% endif %}

</article>
