---
layout: default
---

<article class="post">

	{% if page.stitcher %}
		<iframe class="embed-stitcher" src="https://app.stitcher.com/splayer/f/165701/{{ page.stitcher }}" width="220" height="150" frameborder="0" scrolling="no"></iframe>
	{% elsif page.soundcloud %}
		<iframe class="embed-soundcloud" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{page.soundcloud}}&amp;color=%234a74ff&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
	{% endif %}

	<h1 class="entry-title">{{ page.title }}</h1>
  <p class="description">{{ page.date | date: "%d %B %Y"}}</p>

	<div class="entry-content">

		{{ content }}

	</div>

	<div class="post__footer">
		{% if page.itunes %}
			<a href="{{ page.itunes }}">Listen on Apple Podcasts</a><br>
		{% elsif site.itunes %}
			<a href="{{ site.itunes }}">Listen on Apple Podcasts</a><br>
		{% endif %}

		{% if page.stitcher %}
			<a href="https://www.stitcher.com/s?eid={{ page.stitcher }}">Listen on Stitcher</a><br>
		{% elsif site.stitcher %}
			<a href="{{ site.stitcher }}">Listen on Stitcher</a><br>
		{% endif %}

		{% if page.googleplay %}
			<a href="{{ page.googleplay }}">Listen on Google Play</a><br>
		{% elsif site.googleplay %}
			<a href="{{ site.googleplay }}">Listen on Google Play</a><br>
		{% endif %}
	</div>

</article>
