---
layout: default
---

</div>
<banner class="player-banner" {% if page.banner %}style="background-image: url('{{ page.banner }}'); background-size: cover; background-position: center center;"{% endif %}>

  {% if page.logo %}
    <div class="wrapper">
      <img src="{{ page.logo }}" alt="{{ page.title }}" class="show-logo">
    </div>
  {% else %}
    <h1>{{ page.title }}</h1>
  {% endif %}

</banner>

<div class="wrapper">

  <div class="post" id="post-{{page.id}}">

    <p>{{ page.description }}</p>

    <p>
      Hosted by:

      {% assign host = page.hosts | join: ',' | split: ',' %}
      {{ host | sort | join: ", "}}
    </p>

    <p>Subscribe on {% if page.itunes %}<a href="{{ page.itunes }}">Apple Podcasts</a>, {% endif %}{% if page.overcast %}<a href="{{ page.overcast }}">Overcast</a>, {% endif %}{% if page.spotify %}<a href="{{ page.spotify }}">Spotify</a>, {% endif %}{% if page.stitcher %}<a href="{{ page.stitcher }}">Stitcher</a>, {% endif %}{% if page.googleplay %}<a href="{{ page.googleplay }}">Google Podcasts</a>{% endif %}</p>

    {% if page.stitcher %}
    <iframe class="embed-stitcher" scrolling="no" frameborder="0" style="overflow:hidden;" src="https://app.stitcher.com/splayer/f/{{ page.stitcher }}?el=1&refid=stpr"></iframe>
    {% endif %}

    <section class="episode-list">

      <!-- {% assign show = page.label %}
      {{ show }} -->

      {% for episode in site.timshow %}

      <article id="post-{{ episode.id }}" class="pod-preview">

        <!-- <img src="{{ episode.artwork }}" class="pod-preview__artwork"> -->

        <h2><a href="{{episode.url}}">{{ episode.title }}</a></h2>

        <a href="{{episode.url}}">{{ episode.date | date: '%B %d, %Y' }}</a>

      </article>

      {% endfor %}

    </section>

  </div>

</div>
